body {
  margin: 0;
  overflow-x: hidden;
}

/* .bg-image-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("https://www.rentforevents.nl/images/background.jpeg");
  background-size: cover;
  opacity: 0.8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
}

.bg-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.bg-content {
  position: absolute;
  z-index: 10;
  padding: 15px;
  box-sizing: border-box;
} */

.bg-image-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.intro-overlay {
  position: absolute;
  bottom: 40px;
  left: 20px;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.mt-auto {
  margin-top: auto;
}

.justify-between {
  justify-content: space-between;
}

.social-icons {
  display: flex;
  align-items: left;
}

.social-icons .btn {
  font-size: 22px; /* Pas deze waarde aan om de grootte van de pictogrammen aan te passen */
  margin: 0 10px; /* Pas de marges aan om de afstand tussen de pictogrammen aan te passen */
}
.social-icons .logo {
  margin-left: auto;
  margin-top: 10px;
}

.navigation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.navigation-content {
  padding: 15px;
}

.navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: lightgray;
}

.navbar-toggler-icon {
  color: black;
}
